@import 'footer/footer.scss';
@import 'loader/loader.scss';
@import 'profile/map.scss';
@import 'messages/messages.scss';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

a.remove{
    color: inherit;
}