
.map-container{
    padding: 0 16px 15px 16px;
    clear: both;

    .map {
        width: 100%;
        position: relative;
        border-radius: 6px;
        border: 1px solid #ccc;

        &:before{
            content: '';
            display: block;
            padding-top: 56.25%;
        }
    }
}

.mapIcon .glyphicon{
    top: 3px;
}

.addressSuggestion{
    border-radius: 6px 6px 0 0;
}

.pac-container{
    border-radius: 0 0 6px 6px;
    box-shadow: none;
    border: 1px solid #ccc;
    border-top: none;

    .pac-item{
        line-height: 42px;

        &:hover{
            cursor: pointer;

        }

        .pac-icon{
            margin-top: 11px;
        }
    }
}