<div class="view">
  <div class="page-header">
    <h1>Profil</h1>
  </div>

  <div class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat aliquet tempor. Vestibulum feugiat dui cursus magna euismod, nec semper elit laoreet. Fusce sodales mi eget elit faucibus, non aliquet mauris lacinia. Quisque interdum mi in neque maximus, a placerat turpis lobortis. Integer quis ex a tellus interdum consequat. Nam.
  </div>

  <div class="jumbotron">
      <div class="row">

        <div class="form-group col-sm-6">
          <input type="text" class="form-control input-lg" placeholder="E-Mail"  ng-model="profile.email">
        </div>

        <div class="form-group  col-sm-6">
          <input type="password" class="form-control input-lg" placeholder="Passwort">
        </div>

      </div>
  </div>

  <div class="jumbotron">
      <div class="row">

        <div class="form-group col-sm-6">
          <input type="text" class="form-control input-lg" placeholder="Restaurant Name" ng-model="profile.name">
        </div>

        <div class="form-group col-sm-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">+41</span>
            <input type="text" class="form-control" placeholder="Telefon" ng-model="profile.phone">
          </div>
        </div>

        <div class="form-group  col-sm-6">
          <input type="text" class="form-control input-lg" placeholder="E-Mail" ng-model="profile.email">
        </div>

        <div class="form-group  col-sm-6">
          <input type="text" class="form-control input-lg" placeholder="Öffnungszeiten">
        </div>

        <div class="form-group col-sm-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon mapIcon"><span class="glyphicon glyphicon-map-marker"></span></span>
            <input type="text" class="form-control addressSuggestion" placeholder="Restaurant-Standort" >
          </div>
        </div>

        <div class="form-group  col-sm-6">
          <input type="text" class="form-control input-lg" placeholder="Mittagsmenü Verfügbarkeit (von - bis)">
        </div>

        <div class="map-container" z-map>

        </div>

      </div>

      <button type="button" class="btn btn-primary btn-lg" ng-click="saveProfile()">Speichern</button>

  </div>

</div>
